$primary--color: #3e6dda;
$violet--color: #7b61ff;
$white--color: #ffffff;
$cerulean--color: #09142f;

$gray--color--bright--1: #828292;
$gray--color--bright--5: #f6f6f8;
$gray--color--bright--4: #e9e9ec;

$gray--color--dark--1: #141417;
$gray--color--dark--3: #3f3f49;
$gray--color--dark--4: #555562;
$gray--color--dark--5: #6b6b7b;

$font: "Roboto", sans-serif;
$body-bg: $white--color;

$mobile-width: 760px;
$tablet-width: 1024;
